@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inconsolata:wght@200..900&family=Indie+Flower&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Nova+Square&family=Oswald:wght@200..700&family=Prosto+One&family=Roboto+Slab:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Caveat', cursive;
}

:root{
    --fundoBody: rgb(255, 182, 182);
    --rosaClaro: rgb(255, 125, 186);
    --vermelhoEscuro: rgb(105, 13, 13);
    --verdeEscuro: rgb(13, 105, 15);
    --rosaClaroT: rgba(255, 125, 186, 0.359);
}

body{
    background-color: var(--fundoBody);
    min-height: 100vh;
    width: 100%;
    font-size: 25px;
}

header{
    background-color: var(--vermelhoEscuro);
    height: 5rem;
}

.conjunto {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 206px;
    padding: 0;
}

.conjunto img {
    width: 300px;
    height: auto;
}

h1 {
    font-size: 5rem;
    color: var(--vermelhoEscuro);
    position: relative;
    bottom: 6rem;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-container{
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    max-height: none;
    height: auto;
    overflow: visible;
}

.tabelaGastosPagos, .tabelaGastosNaoPagos{
    flex: 1;
    min-width: 300px;
    max-height: none;
    height: auto;
    overflow: visible;
    z-index: 1;
    position: relative;
    bottom: 13rem;
}

table{
    width: 100%;
    border-collapse: collapse;
    height: auto;
}

th, td{
    border: 3px solid var(--vermelhoEscuro);
    padding: 10px;
    background-color: var(--rosaClaroT);
    color: var(--vermelhoEscuro);
}

th{
    color: var(--vermelhoEscuro);
    text-align: center;
}

tbody{
    height: auto;
    overflow: visible;
}

#tituloPrincipal{
    background-color: var(--vermelhoEscuro);
    color: white;
}

.deletar{
    background: none;
    border: none;
    cursor: pointer;
    color: var(--vermelhoEscuro);
}

.graficos-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    margin: 20px 0;
    bottom: 5rem;
}

.tituloGrafico{
    text-align: center;
    font-size: 3rem;
    color: var(--vermelhoEscuro);
    bottom: 8rem;
}

.graficos-container, .tituloGrafico{
    position: relative;
}

.grafico-comparativo, .grafico-categoria, .grafico-mensal{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--rosaClaroT);
    padding: 20px;
    border-radius: 20px;
}

footer{
    background-color: var(--vermelhoEscuro);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 100%;
    margin-top: auto;
    color: white;
    font-weight: 900;
}

a{
    text-decoration: none;
    color: white;
}

hr{
    border: 3px solid var(--vermelhoEscuro);
    width: 85rem;
    position: relative;
    bottom: 1rem;
}

.fada{
    width: 150px;
    height: 270px;
    position: absolute;
    top: 1100px;
    right: 20px;
}